@charset "UTF-8";
@import "generated/brreg.css";

@layer ds-override {
  :root, [data-color-scheme="light"] {
    --ds-color-focus-inner: #ECC238;
    --ds-color-focus-outer: #15181E;
  }
  [data-color-scheme="dark"] {
    --ds-color-focus-inner: #15181E;
    --ds-color-focus-outer: #ECC238;
  }
}